<div>
	<h1>
		Search results
	</h1>
	<div>
		<% if @search.properties.empty? %>
		No results
		<% else %>
		<% @search.properties.each do |search| %>
		<div>
			<%= search.title %>
			<%= search.price %>
			<%= link_to "View", search %>
		</div>
		<% end %>
		<% end %>
	</div>
</div>